@tailwind base;
@tailwind components;
@tailwind utilities;


.suggestion-item-active {
    border-width: 1px;
    border-color: black;
    font-weight: bold;
}

.dark {
    color-scheme: dark;
}

.no-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar { /* WebKit */
    width: 0px;
}

.no-scrollbar {
    scrollbar-color: transparent transparent;
}
