name: Tests

on:
  push:
    branches: [ "master", "stable" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [ "ubuntu-latest", "windows-latest", "macos-13", "macos-latest" ]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - uses: actions/setup-node@v4
        with:
          node-version: 'latest'

      - name: Setup dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get update && sudo apt install libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Build
        run: cd crates && cargo test -- -W warnings
